//Flex
@mixin flex($direccion,$justificar,$alinear,$gap) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $justificar;
    align-items: $alinear;
    gap: $gap;
}


//Grid
@mixin grid($columnas,$filas,$areas) {
    display: grid;
    grid-template-columns: $columnas ;
    grid-template-rows: $filas;
    grid-template-areas: $areas;
}


// Vista Tablet
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}


//Vista Escritorio
@mixin escritorio{
    @media (min-width:1024px){
        @content;
    }
}