@use "../utilities/variables" as *;
@use "../utilities/extend" as *;
@use "../utilities/mixin" as *;

@keyframes sacudirCompra {
    0%, 10%, 20%, 30%, 40%, 100% {
        transform: translateX(0);
    }

    2.5% { transform: translateX(-2px); }
    5%   { transform: translateX(2px); }
    7.5% { transform: translateX(-2px); }
}

//3 VISTAS TERMINADAS

/* ============================= */
/* GIRAS - MOBILE */
/* ============================= */
.listaGiras {
    @include grid(
        1fr,
        auto,
        none
    );

    gap: 1rem;

    article {
        @include grid(
            1fr,
            auto,
            none
        );

        gap: 1rem;
        justify-items: center;
    }
}

iframe {
    display: none;
}

.girasCompra {
    button {
        @extend %botonEstilo;
        width: auto;
        animation: sacudirCompra 2.5s ease-in-out infinite;
    }
}

.listaGiras article {
    background: linear-gradient(105deg,#172554,#1e3a5f,#00a9c7);
    border-radius: 8px;
    padding: 1.5rem;
}

/* ============================= */
/* TABLET - 768px */
/* ============================= */
@include tablet {

    .girasFecha {
        grid-area: girasF;
    }

    .girasPais {
        grid-area: girasP;
        grid-column: 2;
        grid-row: 1 / 3;
        align-self: center;
    }

    .girasZona {
        grid-area: girasZ;
    }

    .girasCompra {
        grid-area: girasC;
        grid-column: 3;
        grid-row: 1 / 3;
        align-self: center;
    }

    .listaGiras article {
        @include grid(
            1fr 3fr 1fr,
            1fr 1fr,
            "girasF girasP girasC"
            "girasZ . ."
        );

        justify-items: center;
        align-items: center;
    }

    iframe {
        display: none;
    }
    
}

/* ============================= */
/* ESCRITORIO - 1024px */
/* ============================= */
@include escritorio {

    .girasFecha {
        grid-area: girasF;
    }

    .girasPais {
        display: none;
        grid-area: girasP;
    }

    .girasZona {
        grid-area: girasZ;
    }

    .girasCompra {
        grid-area: girasC;
    }

    .girasMap {
        grid-area: girasM;
    }

    .listaGiras article {
        @include grid(
            repeat(3, 1fr),
            1fr 1fr 1fr,
            "girasF girasM ."
            "girasZ girasM girasC"
            "girasZ girasM girasC"
        );
    }

    iframe {
        display: block;
        height: 120px;
        padding: 1rem;
    }
}